node_modules
.idea/
*.map
public/app.js
public/home/home.js
public/home/createNewSession.js
public/sessions/sessions.js
public/security/login.js
public/security/auth.js
public/admin/createUsers.js
public/admin/nameParser.js
public/security/currentIdentity.js
public/security/users.js
public/sessions/unreviewedSessionCount.js
