node_modules
.idea/
*.map
public/app.js
public/home/home.js
public/home/createNewSession.js
public/sessions/sessions.js
public/security/login.js
public/security/auth.js
public/admin/createUsers.js
public/admin/nameParser.js
public/security/currentIdentity.js
public/security/users.js
public/sessions/unreviewedSessionCount.js
public/admin/results.js
public/admin/userDetails.js
public/admin/userList.js
public/admin/adminLogin.js
public/components/detailPanel.js
public/components/talkDuration.js
public/components/zoomIn.js
public/home/unreviewedTalk.js
public/nav/nav.js
public/profile/profile.js
public/security/logout.js
public/sessions/sessionDetail.js
public/toastr/toastr.js
public/sessions/sessionDetailWithVotes.js
public/routes.js
dist/
